<layout name="MainLayout"/>

<div class="padding-top:100px">
    <div class="row">
        <div class="col-md-12" style="padding-bottom:10px">
            <h2 style="text-align:center"><b>修改密码</b></h2>
        </div>
        <div class="col-md-offset-3 col-md-6">
            <form action="__URL__/SavePassword" method="post" id="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">当前登录密码：</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="old_password" name="old_password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">新的登录密码：</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="new_password" name="new_password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">确认新登录密码：</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-6">
                    <button type="button" class="btn btn-success" style="width:100%; margin:0" onclick="SavePassword()">确定
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function SavePassword() {
//        var old_password = $("#old_password").val();
        var new_password = $("#new_password").val();
        var confirm_password = $("#confirm_password").val();

        if (new_password == "") {
            zeroModal.alert("请填写新的密码！");
            return;
        }
//        if (old_password == new_password) { alert("新旧密码不能相同，请重新输入！"); return; }
        if (new_password != confirm_password) {
            zeroModal.alert("新密码与确认密码不一致，请重新输入！");
            return;
        }

        $("#form").submit();
    }
</script>